/**
 * Layout
 */

// Sticky footer setup
#flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.navigation {
    background: $primary-color;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 62px;
    justify-content: space-between;
}

.nav-home, .nav-home:hover {
    text-decoration: none;
    color: $background;
    font-weight: 600;
    padding: 0.75rem 1.25rem 0.75rem 0;
    margin: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links a {
    background-color: $primary-color;
    border: none;
    margin: 0 .5rem 0 0;
}

.nav-links a:hover {
    border: none;
    background-color: lighten($button-background, 5%);
}

.footer {
    background-color: #fafbfc;
}

.footer-item {
    margin: 0 1.5rem 0 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 25px auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 32px;
    width: 32px;
    margin: 0 0 0 1.5rem;
}

.tag-container a {
    margin: 0 .5rem 0 0;
}

.site-tags {
    display: flex;
    margin-bottom: 2rem;
}

.tag {
    border: none;
    border-radius: $border-radius;
    margin: 0 .5rem 0 0;
    background-color: #bdccd6a2;
    color: $primary-color;
    padding: 0.3rem 0.75rem;
    font-size: .9rem;
    font-weight: 600;
}

.tag:hover {
    border: none;
    background-color: darken(#bdccd6a2, 15%);
    color: $primary-color;
    text-decoration: none;
}

.post-header {
    margin-right: 2.5rem;
    padding-right: 3.5rem;
}

.post-list-item {
    margin: 0 0 2rem 0;
}

.post-list-item a:hover {
    text-decoration: none;
}

.post-list-item .post-date {
    font-size: .8rem;
    font-weight: 400;
    color: rgba(0,0,0,.5);
}

.post-list-item h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 .25rem;
}

.introduction p {
    font-size: 1.2rem;
    max-width: 75%;
}

.introduction h1 {
    font-size: 2.8rem;
    font-weight: 700;
}