@import url("destyle.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");


:root {
  --bg-color: #fff;
  --font-color: #333;
  --font-family: "Inter", sans-serif;
  --code-font-family: "Menlo", monospace;
  --std-font-size: 1.125rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  box-sizing: border-box;
  /* 16px for most setups, and works with 8pt grid*/
  font-size: 1em;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

/* General */

/* Standardize margins & padding */
a,
article,
b,
blockquote,
body,
code,
div,
em,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
li,
nav,
ol,
p,
pre,
section,
small,
span,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
}

/* Reading elements */
blockquote,
li,
p,
ol,
ul {
  font-size: var(--std-font-size);
}

blockquote,
code,
p,
ul,
ol {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.4;
}

h1 {
  font-weight: 700;
}

/* No margin for the first page heading */
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 3rem !important;
}

/* Headings */
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--font-color);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

/* Lists */
ul,
ol {
  padding-left: 4rem;
  padding-right: 2rem; /* Maybe? */
}

li {
  margin-bottom: 0.5rem;
}

/* Code blocks */
pre {
  border: 0;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: transparent;
}

code {
  font-size: 1rem;
  font-family: var(--code-font-family);
}

/* Inline code block */
:not(pre) > code {
  font-weight: 500;
  background: transparent;
  padding: 0 0.25rem;
  border: 1px solid #dedede;
  border-radius: 0.25rem;
}

.code-filename {
  background-color: #f4f4f4;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-weight: 700;
  font-size: 1rem;
}

/* Make code highlight extend all the way */
.grvsc-code {
  width: 100%;
}

kbd {
  margin-right: .125rem;
}

/**
 * KEYS.css
 *
 * A simple stylesheet for rendering beautiful keyboard-style elements.
 *
 * Author:  Michael Hüneburg
 * Website: http://michaelhue.com/keyscss
 * License: MIT License (see LICENSE.txt)
 */

/* Base style, essential for every key. */
kbd, .key {
	display: inline;
	display: inline-block;
	min-width: 1em;
	padding: .2em .3em;
	font: normal 1rem "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	border: none;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
kbd[title], .key[title] {
	cursor: help;
}

/* Dark style for display on light background. This is the default style. */
kbd, kbd.dark, .dark-keys kbd, .key, .key.dark, .dark-keys .key {
	background: rgb(80, 80, 80);
	background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
	color: rgb(250, 250, 250);
	text-shadow: -1px -1px 0 rgb(70, 70, 70);
	-moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

/* Light style for display on dark background. */
kbd.light, .light-keys kbd, .key.light, .light-keys .key {
	background: rgb(250, 250, 250);
	background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
	color:  rgb(50, 50, 50);
	text-shadow: 0 0 2px rgb(255, 255, 255);
	-moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	-webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}

/* Layout */
section {
  margin-bottom: 3rem;
}

section:last-of-type {
  margin-bottom: 4rem;
}

.container {
  max-width: 800px;
  padding: 0 1.5rem;
  /* center */
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
}

/* Navigation */
.nav-container {
  padding: 2.5rem 0;
  margin: 0;
  justify-content: right;
}

.nav-container a {
  margin: 0 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-container a:first-child {
  margin-right: auto;
  margin-left: 0;
}

.nav-container a:last-child {
  margin-right: 0;
}

/* Introduction */
.introduction {
  background-color: black;
  padding: 2.5rem 0;
  color: gainsboro;
}

.introduction h1 {
  font-size: 3rem;
}

.introduction p {
  font-size: 1.25rem;
  padding-right: 7rem;
}

/* Post Listings */
.post-item {
  margin-bottom: 2rem;
}

.post-row {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

.post-row h3 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
}

.post-row time {
  font-size: 0.75rem;
  line-height: 0.75;
}

.post-item p {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-right: 7rem; /* Maybe? */
}

/* Tag Styling */
.tag {
  border-radius: 4px;
  border: solid 1px;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  line-height: 1.4;
  background-color: gainsboro;
  color: var(--font-color);
}

.tag svg {
  margin-right: 0.5rem;
}

/* Article Formatting */

/* Give some breathing room between nav and headers */
header {
  margin-bottom: 3rem;
}
header h1 {
  margin-top: 2.5rem;
}

article img {
  width: 100%;
  height: 100%;
}

.article-time {
  font-size: 1rem;
}

.article-tags > .tag:first-child {
  margin-left: 0;
}

.article-tags i {
  margin-right: 0.25rem;
}

.call-out {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-left-color: #004085;
  background-color: #cce5ff;
}

.call-out-warning {
  background-color: #fff3cd;
  border-left-color: #f0ad4e;
}

.call-out-info {
  background-color: #d1ecf1;
  border-left-color: #0c5460;
}

.call-out p {
  font-size: 1rem;
}

.call-out h4 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.call-out p:last-of-type {
  margin-bottom: 0;
}



/* Footer */
footer {
  padding: 3rem 0;
}

.footer-nav {
  justify-content: space-between;
  padding: 0 0 1rem 0;
  border-bottom: solid 4px gainsboro;
}

.footer-nav nav a {
  margin: 0 0.5rem;
}

.footer-nav nav a:first-child {
  margin-left: 0;
}

.footer-nav nav a:last-child {
  margin-right: 0;
}

footer p {
  margin-top: 1rem;
  margin-bottom: 0;
}
